<%= render "partials/error" %>

<div class="container-fluid border">
  <div class="d-flex justify-content-between">
    <h3><%= @post.title %></h3>
    <div class="d-flex">
      <p class="mx-3">Comments: <%= @post.comments_counter.nil? ? 0 : @post.comments_counter %></p>
      <p>Likes: <%= @post.likes_counter.nil? ? 0 : @post.likes_counter %></p>
    </div>
  </div>
  <p><%= @post.text %></p>
</div>
<div class="d-flex justify-content-end">
  <%= form_with model: @like, url: user_post_likes_path(@user, @post), scope: :like do |form|%>
     <%= form.submit 'Like post' %>
  <% end %>
  <button type="button" class="btn btn-success mx-2"><%= link_to "Comment", new_user_post_comment_path( post_id: @post.id), { class: "user-link" } %></button>
</div>
<div class="container-fluid border">
  <% @comments.each do |comment| %> 
    <div class="d-flex align-items-center">
      <h3><%= comment.user.name %></h3>:
      <h5 class="mx-2"><%= comment.text %></h5> 
    </div>   
  <% end %>
</div>